APP_TITLE=@workspace/hono - Development
APP_URL=http://localhost:3333
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_LOG_LEVEL=INFO
DATABASE_URL=postgres://pg:pg@localhost:5443/pg
BETTER_AUTH_SECRET=OVgl...